.PropertiesPanel {
  width: 320px;
  background-color: var(--secondary);
  height: 100vh;
}

.Collapsible {
  margin-bottom: 2px;
}

.Collapsible-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  border: none;
  padding: 8px;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
}

.Collapsible-content {
  margin: 8px;
}
